@model IPagedList<AdoNetExample.Models.EmployeeModel>
@{
    ViewBag.Title = "Index";
}

@using PagedList.Mvc;
@using PagedList;
<h2>Index</h2>

<a href="@Url.Action("Create","Home")" class="btn btn-primary">Create</a>

<table class="table table-bordered table-striped">
    <tr>
        <th>#Id</th>
        <th>Name</th>
        <th>Salary</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.EmpId</td>
            <td>@item.EmpName</td>
            <td>@item.EmpSalary</td>
        </tr>
    }
</table>

@Html.PagedListPager(Model,i=>Url.Action("Index","Home",new {i}))