@model MVC8amTigerBatch_09_07_2021.Models.EmpDept
@{
    ViewBag.Title = "SendData4";
}

<h2>SendData4</h2>
 
    <table class="table table-bordered table-striped">
        <tr>
            <th>EmpId</th>
            <th>EmpName</th>
            <th>EmpSalary</th>
        </tr>
        @foreach (var item in Model.Emp)
        {
            <tr>
                <td>@item.EmpId</td>
                <td>@item.EmpName</td>
                <td>@item.EmpSalary</td>
            </tr>

        }
    </table>

<br />
<table class="table table-bordered table-striped">
    <tr>
        <th>DeptId</th>
        <th>DeptName</th>
    </tr>
    @foreach (var item in Model.Dept)
    {
        <tr>
            <td>@item.DeptId</td>
            <td>@item.DeptName</td>           
        </tr>

    }
</table>

 