@model IEnumerable<EmployeeModel>
@{
    ViewBag.Title = "Index";
}
@using CodeFirstApproach.Models
<h2>Index</h2>


<table class="table table-bordered table-condensed">
    <tr>
        <th>EmpId</th>
        <th>EmpName</th>
        <th>EmpSalary</th>
        <th colspan="2">
            Action
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.EmpId</td>
            <td>@item.EmpName</td>
            <td>@item.EmpSalary</td>
            <td>
               <a href="@Url.Action("Edit", "Home", new { id = @item.EmpId })" class="btn btn-success">Edit</a>
               <a href="@Url.Action("Delete", "Home", new { id = @item.EmpId })" class="btn btn-warning">Delete</a>
            </td>
        </tr>
    }
</table>